body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wifi {
  width: 18px;
  height: 18px;
}

.battery {
  width: 25px;
  height: 25px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.top_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top_bar_element {
  margin-left: 70px;
}
